{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "spider", "1.0.0",
        [
         kernel,
         stdlib,
         sasl,
	 compiler,
	 inets,
	 gs,
	 appmon,
         esn_kernel,
	 spider
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "spider"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, gs, [{incl_cond, include}]},
       {app, appmon, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, esn_kernel, [{incl_cond, include},{mod_cond,app},{lib_dir,"../apps/esn_kernel"}]},
       {app, spider, [{incl_cond, include},{mod_cond,app},{lib_dir,"../apps/spider"}]},
       {app, posregex, [{incl_cond, include},{mod_cond,app},{lib_dir,"../apps/posregex"}]},
       {app, yaws, [{incl_cond, include},{mod_cond,app},{lib_dir,"../deps/yaws"}]}
      ]}.

{target_dir, "spider"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, 	"log/sasl"},
	   %% need to parameterise the next 4 lines
           {mkdir, 	"/home/pi/YAWS/wwwroot/css"},
           {mkdir, 	"/home/pi/YAWS/wwwroot/js"},
           {copy, 	"../apps/spider/www/css/*.css", "/home/pi/YAWS/wwwroot/css"},
           {copy, 	"../apps/spider/www/js/*.js", "/home/pi/YAWS/wwwroot/js"},
	   %% standard from here on ....
           {copy, 	"files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, 	"files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, 	"files/spider", "bin/spider"},
           {template, 	"files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, 	"files/spider.cmd", "bin/spider.cmd"},
           {copy, 	"files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, 	"files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
